.dashboard{

padding:20px;

}

.welcome-card{

background:#ffffff;

padding:30px;

border-radius:15px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

margin-bottom:30px;

}

.welcome-card h1{

color:#0F172A;

margin-bottom:10px;

}

.welcome-card p{

margin:10px 0;

color:#64748B;

font-size:16px;

}

.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}

.card{

background:#ffffff;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

transition:.3s;

cursor:pointer;

}

.card:hover{

transform:translateY(-5px);

}

.card h2{

color:#64748B;

font-size:18px;

margin-bottom:10px;

}

.card h1{

color:#2563EB;

font-size:34px;

}

@media(max-width:992px){

.cards{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.cards{

grid-template-columns:1fr;

}

}