/* ==========================================
   EMPLOYEE FORM
========================================== */

.employee-form-page{
    padding:30px;
    background:#F8FAFC;
    min-height:100vh;
}

.form-card{
    background:#fff;
    border-radius:15px;
    padding:30px;
    box-shadow:0 10px 20px rgba(0,0,0,.05);
}

.form-card h2{
    margin-bottom:25px;
    color:#0F172A;
}

.form-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.form-grid input,
.form-grid select,
textarea{
    width:100%;
    padding:12px 15px;
    border:1px solid #CBD5E1;
    border-radius:10px;
    font-size:15px;
    outline:none;
    transition:.3s;
}

.form-grid input:focus,
.form-grid select:focus,
textarea:focus{
    border-color:#2563EB;
}

textarea{
    margin-top:20px;
    resize:none;
}

.submit-btn{
    margin-top:25px;
    background:#2563EB;
    color:#fff;
    border:none;
    padding:14px 30px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
}

.submit-btn:hover{
    background:#1D4ED8;
}

@media(max-width:768px){
    .form-grid{
        grid-template-columns:1fr;
    }
}